#board {
    background-color: white;
    border: 1px solid grey;
    box-shadow: 2px 2px 3px black;
    display: block;
    width: 100%;
    height: 100%;
 }

#board_container{
    border: 1px inset;
    background-color: lightgray;
    grid-row: 2;
    grid-column: 2;
    height: 100%;
    width: 100%;
    overflow: auto;
}

#fileProgress{
    visibility: hidden;
    width: 100px;
}

html, body{
    height: calc(100% - 20px) ;
    margin: 5px;
}

body {
    display: grid;
    grid-gap: 5px;
    height: 100%;
    grid-template-rows: 40px auto;
    grid-template-columns: 150px auto;
    user-select: none;
}

#toolbox{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    line-height: 16pt;
}

.btn{
    height: 100%;
    width: 35px;
    font-size: 16pt;
    font-weight: bold;
    padding: 0 2px;
    border: 1px solid grey;
    border-radius: 0px;
    box-shadow: 0 1px 0px black;
}

.enabled {
    border-style: inset;
    background-color: #FFFFFF;
}

.dropdown_container{
    height: 100%;
}

.dropdown_list{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    position: relative;
    margin-top: 5px;
    box-shadow: 2px 2px 3px black;
}

.dropdown_list button{
    border-radius: 0;
    border-style: none;
    padding: 5px 0px;
}

#palette{
    display: flex;
    flex-direction: row;
    height: 100%;
}

#palette .color {
    width: 30px;
}

#btnWhite {background-color: #FFFFFF;}
#btnBlack{background-color: #000000;}
#btnBlack{background-color: #000000;}
#btnBlue{background-color: #0000FF;}
#btnCyan{background-color: #00FFFF}
#btnRed{background-color: #FF0000}
#btnYellow{background-color: #FFFF00}
#btnGreen{background-color: Green}
#btnMagenta{background-color: Magenta}

#thumbs {
    grid-column: 1;
    grid-row: 2;
    border: 3px solid grey;
    overflow-x: hidden;
    overflow-y: auto;
}

#bgcolor {
    height: 100%;
    width: 110px;
    font-weight: bold;
}

#bgcolor option{
    height: 30px;
    font-weight: bold;
}

#bgcolor option::selection {
    border: 1px solid black;
    background-color: #00000000;
}

#sldWidth{
    width: 100px;
}

.tool_sep{
    height: 100%;
    margin: 2px;
    border-left: 1px solid grey;
}

#file_importer{
    display: none;
}

#thumbs img{
    width: 100%;
    border: 1px solid grey;
    box-shadow: 0px 2px 2px grey;
}

#thumbs img.active{
    border-left: 3px solid blue;
}

#float_screen{
    visibility: hidden;
    z-index: 100;
    height: 100%;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}