#board {
    background-color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    transform-origin: top left;
    box-shadow: 2px 2px 3px black;
    display: block;
    width: 100%;
    height: 100%;
    touch-action: none;
 }

#board_container{
    border: 2px inset;
    box-shadow: 1px 1px 2px inset;
    background-color: lightgray;
    grid-row: 2;
    grid-column: 2;
    height: 100%;
    width: 100%;
    overflow: auto;
    scrollbar-width: thin;
}

#fileProgress{
    visibility: hidden;
    width: 100px;
}

html, body{
    height: calc(100% - 20px) ;
    margin: 5px;
}

body {
    display: grid;
    grid-gap: 5px;
    height: 100%;
    grid-template-rows: 40px auto;
    grid-template-columns: 150px auto;
    user-select: none;
}

body.dark{
    background-color: #555;
    color: aquamarine;

}
body.dark button{
    background-color: grey;
    color: aquamarine;
}

body.dark button:hover{
    background-color: darkgrey;
}


#toolbox{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    line-height: 16pt;
}

.btn{
    height: 100%;
    width: 35px;
    font-size: 16pt;
    font-weight: bold;
    padding: 0 2px;
    border: 1px solid grey;
    border-radius: 0px;
    box-shadow: 0 1px 0px black;
}

.btn:hover:not([disabled]){
    background-color: white;
}

.enabled {
    border-style: inset;
    background-color: #FFFFFF;
}

.dropdown_container{
    height: 100%;
    position: relative;
}

.dropdown_list{
    min-width: 100%;
    align-items: stretch;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    position: absolute;
    margin: 5px auto;
    box-shadow: 2px 2px 3px black;
}

.dropdown_list button{
    border-radius: 0;
    border-style: none;
    padding: 7px;
    white-space: nowrap
}

.dropdown_list button:hover{
    background-color: white;
}

#palette{
    display: flex;
    flex-direction: row;
    height: 100%;
}

#palette .color {
    width: 30px;
}

#btnWhite {background-color: #FFFFFF;}
#btnBlack{background-color: #000000;}
#btnBlack{background-color: #000000;}
#btnBlue{background-color: #0000FF;}
#btnCyan{background-color: #00FFFF}
#btnRed{background-color: #FF0000}
#btnYellow{background-color: #FFFF00}
#btnGreen{background-color: Green}
#btnMagenta{background-color: Magenta}

#bgcolor {
    border: 2px solid black;
    height: 100%;
    width: 120px;
    font-weight: bold;
}

#background_colors button{
    height: 30px;
    font-weight: bold;
}

#background_colors button.enabled {
    border: 2px solid white;
    background-color: #00000000;
}

#background_colors button:hover {
    opacity: 0.7;
}

#btnZoom{
    width: 7ex;
    font-size: inherit;
    padding: 5px;
}

#sldWidth{
    width: 100%;
    margin: 0;
}

#lineWidth{
    width: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 10pt;
    align-items: center;
    padding-top: 5px;
    letter-spacing: 2px;
}

.tool_sep{
    height: 100%;
    margin: 2px;
    border-left: 1px solid grey;
}

#file_importer{
    display: none;
}

#side{
    grid-column: 1;
    grid-row: 2;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


#thumbs {
    flex: 1 auto;
    height: 100px;
    border: 2px inset grey;
    overflow-x: hidden;
    overflow-y: auto;
    background-image: linear-gradient(to right, #EEE, white);
    scrollbar-width: thin;
}

#pgNumber{
    height: 100%;
    width: 5ex;
    padding: 3px;
    text-align: center;
    border: 1px inset lightgray;
    background-color: white;
    border-radius: 3px;
}

#pgTotal{
    width: 3ex;
}


#pageCounter{
    margin: 5px;
}

#thumbs div{
    width: 100%;
    border: 1px solid grey;
    box-shadow: 0px 2px 2px grey;
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 2px;
    padding: 0;
}

#thumbs div img {
    display: block;
    width: 100%;
    margin: 0;
}

#thumbs div.active{
    border-left: 3px solid blue;
}

#float_screen{
    visibility: hidden;
    z-index: 100;
    height: 100%;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

#status
{
    max-width: 150px;
    overflow:hidden;
    white-space: nowrap;
}

@media print {
    #toolbox, #board_container, #pageCounter{
        display: none;
    }

    body{
        display: block;
    }

    #thumbs {
        border: none;
        overflow: visible;
    }

    #thumbs div, #thumbs div.active{
        border: none;
        box-shadow: none;
        margin-bottom: 10px;
        page-break-after: always;
    }
}